@import 'partials/variables';
@import 'partials/commons';
@import 'partials/header';
@import 'partials/main-home';
@import 'partials/main-products';
@import 'partials/main-news';
@import 'partials/footer';
