* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Teko", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1270px;
  margin: auto;
}

a.active {
  color: #002d75;
}

header {
  padding-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}

header ul {
  padding-top: 20px;
}

header ul li {
  display: inline-block;
  padding: 0 20px;
  font-size: 30px;
}

header ul li:hover {
  background-color: #b8dae6;
}

header ul li:hover a {
  color: #002d75;
}

header ul li a {
  color: black;
}

.home-foto {
  height: 1000px;
  background-image: url(/images/molisana-home.jpg?cb7db241726fb646d7e1c8553429c07c);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.home-text {
  text-align: center;
  width: 44%;
  margin: auto;
}

.home-text h2 {
  margin-bottom: 20px;
}

.home-text p {
  margin-top: 20px;
  font-size: 25px;
}

#prodotti {
  padding-bottom: 50px;
  background-color: #daedf3;
}

#prodotti h2 {
  font-size: 40px;
  color: #002d75;
  text-align: center;
  padding-top: 50px;
}

#prodotti .container-card {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

#prodotti .container-card .card {
  margin: 5px;
  height: 100%;
  display: flex;
  width: calc(100% / 3 - 30px);
  position: relative;
}

#prodotti .container-card .card img {
  max-width: 100%;
}

#prodotti .container-card .card .layover {
  display: none;
  background-color: rgba(255, 255, 255, 0.555);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#prodotti .container-card .card .layover .layover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-size: 28px;
  color: #741f74;
}

#prodotti .container-card .card:hover .layover {
  display: block;
}

#info-products .info-title {
  background-color: #b8dae6;
  border-bottom: 1px solid white;
  padding: 20px;
  text-align: center;
  color: #002d75;
}

#info-products img {
  display: block;
}

#info-products .info-desc {
  background-color: #b8dae6;
}

#info-products .info-desc p {
  font-size: 27px;
  line-height: 1.6;
  padding: 10px;
}

#info-products .info-desc .box {
  padding: 50px;
}

#info-products .info-desc .box ul {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

#info-products .info-desc .box ul li {
  font-size: 30px;
  text-transform: uppercase;
}

#info-products .info-desc .box ul li i {
  font-size: 40px;
  color: #002d75;
}

.news-title {
  background: linear-gradient(#0f2659, #1e4968);
  padding: 20px;
  color: white;
  text-transform: uppercase;
  font-size: 80%;
  text-align: center;
}

.all-paragraph {
  background-color: #daedf3;
  padding-bottom: 50px;
}

.all-paragraph .paragraph {
  padding-top: 50px;
  width: 40%;
  margin: auto;
  text-align: center;
}

.all-paragraph .paragraph h2 {
  margin: 20px 0;
}

.all-paragraph .paragraph p {
  margin-bottom: 20px;
  font-size: 20px;
  width: 80%;
  margin: auto;
  font-size: 25px;
}

footer {
  height: 150px;
  background-image: url(/images/footer-montagne-bottom.jpg?d53b01335f4c26b84b40ca2ab0a64ece);
}

