* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Teko", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  margin: auto;
}

a.active {
  color: #002d75;
}

header {
  padding-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}

header ul {
  padding-top: 20px;
}

header ul li {
  display: inline-block;
  padding: 0 20px;
  font-size: 30px;
}

header ul li:hover {
  background-color: #b3e5fc;
}

header ul li:hover a {
  color: white;
}

header ul li a {
  color: black;
}

.home-foto {
  height: 1000px;
  background-image: url(/images/molisana-home.jpg?cb7db241726fb646d7e1c8553429c07c);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.home-text {
  text-align: center;
  width: 44%;
  margin: auto;
}

.home-text h2 {
  margin-bottom: 20px;
}

.home-text p {
  margin-top: 20px;
  font-size: 25px;
}

.container-card {
  display: flex;
  flex-wrap: wrap;
}

.container-card .card {
  width: calc(100% / 3);
  position: relative;
}

.container-card .card img {
  max-width: 100%;
}

.container-card .card .layover {
  display: none;
  background-color: rgba(255, 255, 255, 0.555);
  height: calc(100% - 1%);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.container-card .card .layover .layover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: #741f74;
}

.container-card .card:hover .layover {
  display: block;
}

.paragraph {
  padding-top: 50px;
  width: 40%;
  margin: auto;
  text-align: center;
}

.paragraph h2 {
  margin: 20px 0;
}

.paragraph p {
  margin-bottom: 20px;
  font-size: 20px;
  width: 80%;
  margin: auto;
  font-size: 25px;
}

footer {
  height: 150px;
  background-image: url(/images/footer-montagne-bottom.jpg?d53b01335f4c26b84b40ca2ab0a64ece);
}

