#info-products {
    .info-title {
        background-color: $colorlightblue;
        border-bottom: 1px solid $colorwhite;
        padding: $px20;
        text-align: center;
        color: $colorBlue;
    }
    img {
        display: block;
    }
    .info-desc {
        background-color: $colorlightblue;
        font-size: 26px;
        padding: $px10;
        line-height: 1.6;
        .box {
            padding: $px50;
            ul {
                display: flex;
                justify-content: space-around;
                text-align: center;
                li {
                    font-size: 30px;
                    text-transform: uppercase;
                    i {
                        font-size: 40px;
                        color: $colorBlue;
                    }
                }
            }
        }
    }
}