#prodotti {
    background-color: $colorlightocean;
    .container-card {
        padding-top: $px10;
        display: flex;
        flex-wrap: wrap;
        .card {
            margin: 5px;
            height: $heigth100;
            display: flex;
            width: calc(#{$width100} / 3 - 30px);
            position: relative;
            img {
                max-width: $width100;
            }
    
            .layover {
                display: none;
                background-color: $colorlayoverblack;
                height: $heigth100;
                width: $width100;
                position: absolute;
                top: 0;
                left: 0;
                .layover-text {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: $width100;
                    text-align: center;
                    font-size: 28px;
                    color: $colorpurple;
                }
            }
    
            &:hover .layover {
                display: block;
            }
        }
    }
}